<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="motionMappings" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <!-- DEFAULT PRESET
    
    All motion controls and special hotkeys are turned off and set to default configurations
    
    Look in the Motion Presets folder for other presets or configure the motion mappings below-->
    <motionMappings>
        <!-- 
    
    If you encounter any crashes or oddities, overwrite this file with the default preset from the preset folder to fix it. 
    A single wrong comma or period can break things! Also ensure the right Joy-Con is connected before the left Joy-Con
    
    You can map gyroscope and accelerometer functions, with either the combined axes or the individual X, Y or Z axis.
    The gyroscope measures rotation of the joy-con and is good to measure when you are swinging the joy-con from one direction to another.
    The gyro's X axis is mostly useless because it measures rolling motions of the joy-con. Because this is prone to triggering unwanted 
    inputs, the X axis is not used in the combined gyro measurements.
    The accelerometer measures acceleration and is good to measure thrusts of the joy-con without rotation, like thrusting/punching the joy-con forward, backwards 
    or sideways. For suggestions on how to measure specific moves, look at the TIPS below the configurations.
    
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
    Button List - ALWAYS USE CAPITAL LETTERS:
    
    DPAD_DOWN 
    DPAD_RIGHT 
    DPAD_LEFT 
    DPAD_UP
    A (B on virtual 360 controller)
    B (A on virtual 360 controller)
    X (Y on virtual 360 controller)
    Y (X on virtual 360 controller)
    MINUS (Back on virtual 360 controller)
    HOME (Guide on virtual 360 controller)
    PLUS (Start on virtual 360 controller)
    CAPTURE (I don't know if this does anything at the moment)
    STICK = (Stick button on the joy-con you're mapping)
    STICK2 = (Stick button on the opposite Joy-Con)
    SHOULDER_1 = (Bumper on the Joy-Con you're mapping)
    SHOULDER2_1 (Bumper on the opposite Joy-Con)
    SHOULDER_2 = (Trigger on the Joy-Con you're mapping)
    SHOULDER2_2 (Trigger on the opposite Joy-Con)
    
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
    You can configure the following values, which are solely seperated by a comma (,) while periods (.) are used for decimals
    
    - State (regular): Decides whether the regular motion function is used. Set to OFF to disable or set to ON to enable. This is for motion controls that are always active.
    - Sensitivity: The higher the number, the more speed it takes to trigger the button. If nothing happens, the number may be too high 
    - Button: Set the button you want to activate with your motion. See the Button List above.
    - Direction: The default is ANY and allows movements in any direction. Set to POS or NEG for one-directional movement with Gyro. The accel behavior is more strange.
    - State (mutate): This allows you to have a secondary (mutated) motion control function when holding a button. It also works standalone if the default state is disabled, so
      motion controls are only activated when the mutate button is held. Set to 'ON' to use the SL and SR button. Or set it to 'SL' or 'SR' specifically. It can be set to
      any other button, but that buttons other functions will not be disabled
    - mSensitivity: Choose the mutated sensitivity
    - mButton: Choose which mutated button to press
    - mDirection: Choose the mutated direction 
    
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
    To test configurations and finetune sensitivity, use Gamepad Tester (hardwaretester.com/gamepad) or enable the RUMBLE ON SHAKE option further below.
    
    CONFIGURE MOTION CONTROLS HERE:
    Values: "Sensitivity, State, Button, Direction, mState, mSensitivity, mButton, mDirection"
    Pair 1 Left Joy-Con -->
        <add key="Pair1LeftAccelSensitivity" value="OFF,70.0,A,ANY,OFF,65.0,Y,ANY"/>
        <add key="Pair1LeftAccelSensitivityX" value="OFF,3.0,B,ANY,OFF,35.0,Y,ANY"/>
        <add key="Pair1LeftAccelSensitivityY" value="OFF,3.0,X,ANY,OFF,35.0,Y,ANY"/>
        <add key="Pair1LeftAccelSensitivityZ" value="OFF,3.0,Y,ANY,OFF,35.0,Y,ANY"/>

        <add key="Pair1LeftGyroSensitivity" value="OFF,650,A,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair1LeftGyroSensitivityX" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair1LeftGyroSensitivityY" value="OFF,650,X,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair1LeftGyroSensitivityZ" value="OFF,650,Y,ANY,OFF,650.0,Y,ANY"/>

        <add key="Pair1LeftGyroSensitivityY2" value="OFF,650,Y,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair1LeftGyroSensitivityZ2" value="OFF,650,Y,ANY,OFF,650.0,Y,ANY"/>


        <!-- Pair 1 Right Joy-Con -->
        <add key="Pair1RightAccelSensitivity" value="OFF,70.0,A,ANY,OFF,65.0,Y,ANY"/>
        <add key="Pair1RightAccelSensitivityX" value="OFF,3.0,B,ANY,OFF,35.0,Y,ANY"/>
        <add key="Pair1RightAccelSensitivityY" value="OFF,3.0,X,ANY,OFF,35.0,Y,ANY"/>
        <add key="Pair1RightAccelSensitivityZ" value="OFF,3.0,Y,ANY,OFF,35.0,Y,ANY"/>

        <add key="Pair1RightGyroSensitivity" value="OFF,650,A,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair1RightGyroSensitivityX" value="OFF,650,Y,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair1RightGyroSensitivityY" value="OFF,650,X,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair1RightGyroSensitivityZ" value="OFF,650,A,ANY,OFF,650.0,Y,ANY"/>

        <add key="Pair1RightGyroSensitivityY2" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair1RightGyroSensitivityZ2" value="OFF,650,Y,ANY,OFF,650.0,Y,ANY"/>


        <!-- Pair 2 Left Joy-Con -->
        <add key="Pair2LeftAccelSensitivity" value="OFF,70.0,A,ANY,OFF,65.0,Y,ANY"/>
        <add key="Pair2LeftAccelSensitivityX" value="OFF,3.0,B,ANY,OFF,35.0,Y,ANY"/>
        <add key="Pair2LeftAccelSensitivityY" value="OFF,3.0,B,ANY,OFF,35.0,Y,ANY"/>
        <add key="Pair2LeftAccelSensitivityZ" value="OFF,3.0,B,ANY,OFF,35.0,Y,ANY"/>

        <add key="Pair2LeftGyroSensitivity" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair2LeftGyroSensitivityX" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair2LeftGyroSensitivityY" value="OFF,650,Y,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair2LeftGyroSensitivityZ" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>

        <add key="Pair2LeftGyroSensitivityY2" value="OFF,650,Y,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair2LeftGyroSensitivityZ2" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>


        <!-- Pair 2 Left Joy-Con -->
        <add key="Pair2RightAccelSensitivity" value="OFF,70.0,A,ANY,OFF,65.0,Y,ANY"/>
        <add key="Pair2RightAccelSensitivityX" value="OFF,3.0,B,ANY,OFF,35.0,Y,ANY"/>
        <add key="Pair2RightAccelSensitivityY" value="OFF,3.0,B,ANY,OFF,35.0,Y,ANY"/>
        <add key="Pair2RightAccelSensitivityZ" value="OFF,3.0,B,ANY,OFF,35.0,Y,ANY"/>

        <add key="Pair2RightGyroSensitivity" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair2RightGyroSensitivityX" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair2RightGyroSensitivityY" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair2RightGyroSensitivityZ" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>

        <add key="Pair2RightGyroSensitivityY2" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>
        <add key="Pair2RightGyroSensitivityZ2" value="OFF,650,B,ANY,OFF,650.0,Y,ANY"/>


        <!--TIPS / MOVELIST
   
   Press X when swinging in any direction, set GYRO (without axis) to "ON,650,Y,ANY,OFF,35.0,Y,ANY"
   Press X when punching in any direction, set ACCEL (without axis) to "ON,70.0,Y,ANY,OFF,65.0,Y,ANY" (combine with gyro option above to register more types of movement for the same button)
   Press X when doing a horizontal swing, set GYRO Z axis to "ON,650,Y,ANY,OFF,35.0,Y,ANY"
   Press Y when doing a vertical swing, set GYRO Y axis to "ON,650,X,ANY,OFF,35.0,Y,ANY"
   Press Y only when swinging downward, set Gyro Y axis to "ON,650,X,NEG,OFF,650.0,Y,ANY"
   Press STICK when holding joy-con flat and thrusting it forward (requires strong precise movement), set ACCEL X to "ON,2.7,STICK,POS,OFF,35.0,Y,ANY"
   Press B when twisting the Joy-Con like a key while holding SL, set GYRO X to "OFF,550,A,ANY,SL,650.0,Y,ANY -->

    </motionMappings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <!-- RUMBLE ON SHAKE 
        This can be useful for testing, or if you just like it-->

        <add key="EnableRumbleOnShake" value="false" />
        <!-- Enable rumble on shake detection (set to true or false) -->
        <add key="MaxAmpRumbleOnShake" value="1.0" />
        <!-- Maximum amplitude for rumble on shake, default: 1 -->
        <add key="MaxLowFreqRumbleOnShake" value="320" />
        <!-- Maximum low frequency for rumble on shake, default: 320 -->
        <add key="MaxHighFreqRumbleOnShake" value="160" />
        <!-- Maximum high frequency for rumble on shake, default: 160 -->
        <add key="RumbleDurationOnShake" value="100" />
        <!-- Rumble duration upon shake -->


        <!--SPECIAL HOTKEYS: MAP SL OR SR BUTTON TO ANY BUTTON
        
        Set Value to "SL" or "SR" for the left Joy-Con. Use "SLO" or "SRO" for the right Joy-Con. Use "OFF" to disable
        The mutate functions also use these buttons, so be careful not to simultaneously assign SL/SR to a mutator and to a special hotkey
        These target the Xbox 360 buttons, so A relates to A on an Xbox 360 controller and not a joy-con-->
        <add key="SpecialHotkeyA" value="SLO" />
        <add key="SpecialHotkeyB" value="OFF" />
        <add key="SpecialHotkeyY" value="OFF" />
        <add key="SpecialHotkeyX" value="OFF" />
        <add key="SpecialHotkeyUP" value="OFF" />
        <add key="SpecialHotkeyDOWN" value="OFF" />
        <add key="SpecialHotkeyLEFT" value="OFF" />
        <add key="SpecialHotkeyRIGHT" value="OFF" />
        <add key="SpecialHotkeyBACK" value="OFF" />
        <add key="SpecialHotkeySTART" value="OFF" />
        <add key="SpecialHotkeyGUIDE" value="OFF" />
        <add key="SpecialHotkeyLB" value="OFF" />
        <add key="SpecialHotkeyRB" value="OFF" />
        <add key="SpecialHotkeyLS" value="OFF" />
        <add key="SpecialHotkeyRS" value="OFF" />
        <add key="SpecialHotkeyLT" value="OFF" />
        <add key="SpecialHotkeyRT" value="OFF" />

        <!-- REGULAR BETTERJOY SETTINGS BELOW -->


        <!--Motion Server IP: the default is localhost; you can change it to 0.0.0.0 (all interfaces) or a specific LAN IP
        which is **useful if you want to access the server from another computer in a network.** Default: 127.0.0.1-->
        <add key="IP" value="127.0.0.1" />
        <!--Motion Server port: the default is 26760; if it conflicts with another server set it to anything valid
        but in that case also change the port in PadTest and cemuhook.ini accordingly. Default: 26760 -->
        <add key="Port" value="26760" />
        <!--Whether the Motion Server is enabled or not. Default: true -->
        <add key="MotionServer" value="false" />

        <!--The controller's HD rumble settings for the low/high frequency rumble. Change to change the pitch of the rumble.-->
        <!--Don't set above ~1200. Default: 40 and 120 -->
        <!--To have "stronger" rumble, try setting the low/high to 160/320-->
        <add key="LowFreqRumble" value="40" />
        <add key="HighFreqRumble" value="120" />
        <!--Rumble Setting. Turns rumble on or off.-->
        <!--On is "true"; off is "false". Default: true -->
        <add key="EnableRumble" value="true" />

        <!--Enables a input when shaking a controller, only works with DS4 for now, replaces the touchpad input (Button 13 on DirectInput)-->
        <!--On is "true"; off is "false". Default: false -->
        <add key="EnableShakeInput" value="false" />
        <!--How sensitve the shake detection should be. Default: 10-->
        <add key="ShakeInputSensitivity" value="15" />
        <!--How often should the shake input run in milliseconds. -->
        <!--Don't set this lower than 15 -->
        <!-- Default: 200 -->
        <add key="ShakeInputDelay" value="2000" />

        <!--Swap A-B buttons; if on, this mimicks the (half of) Xbox layout by the button name, rather than by the physical layout.-->
        <!--Also swaps buttons when using "Also use for buttons/axes"-->
        <!--On is "true"; off is "false". Default: false -->
        <add key="SwapAB" value="false" />
        <!--Swap X-Y buttons; if on, this mimicks the (other half of) Xbox layout by the button name, rather than by the physical layout.-->
        <!--Also swaps buttons when using "Also use for buttons/axes"-->
        <!--On is "true"; off is "false". Default: false -->
        <add key="SwapXY" value="false" />

        <!-- Allows for calibration of the controller's gyro. Adds a "Calibrate" button.-->
        <!-- When "true", click the "Calibrate" button once to get gyro calibrate data.-->
        <!-- When enabled, can only calibrate one controller at a time.-->
        <!-- Default: false -->
        <add key="AllowCalibration" value="false" />
        <!-- Default calibration; used for third party controller -->
        <add key="acc_sensiti" value="16384,16384,16384"/>
        <add key="gyr_sensiti" value="18642,18642,18642"/>
        <add key="stick_cal" value="0x780,0x780,0x780,0x830,0x780,0x780"/>
        <add key="deadzone" value="10"/>
        <add key="stick2_cal" value="0x780,0x780,0x780,0x830,0x780,0x780"/>
        <add key="deadzone2" value="10"/>

        <!-- Allows use of gyroscope tilting to get full control of the slider values (big triggers)-->
        <!-- Works on pro controller and joined joycons (pro controller case - triggers combined, joycons case - separate tilt)-->
        <!-- Default: false -->
        <add key="GyroAnalogSliders" value="false" />
        <!-- Change to -400 to change direction of tilt needed. Positive is ramp up if pointing up-->
        <!-- Default: 400 -->
        <add key="GyroAnalogSensitivity" value="400" />

        <!-- Determines whether or not the program should purge the affected devices list upon exit -->
        <!-- Should prevent any more issues of the controller being unusable after the program (even though this can be fixed if you read the README) -->
        <!-- Default: true -->
        <add key="PurgeAffectedDevices" value="false" />
        <!-- Determines whether or not HidGuardian's process whitelist is purged on start-up -->
        <!-- Can interfere with other programs using HidGuardian, but prevents whitelist from being clogged from crashed instances -->
        <!-- Default: true -->
        <add key="PurgeWhitelist" value="false" />
        <!-- Determines whether or not to use HidGuardian (improves compatibility with other programs, like Steam, when set to "false") -->
        <!-- When "true", BetterJoy will hide the Pro/Joycons from other programs to prevent glitching out on exit and to prevent DI/XI clashes in certain programs -->
        <!-- Default: false -->
        <add key="UseHIDG" value="false" />

        <!-- The program will keep the HOME button LED ring light on at all times. -->
        <!-- Default: true -->
        <add key="HomeLEDOn" value="true"/>
        <!-- Will use multiple lights to display the current player rather than a single LED-->
        <add key="UseIncrementalLights" value="true" />

        <!-- Determines whether or not to translate gyro movements into joystick ("joy") or mouse movement ("mouse"), or have no effect ("none") -->
        <!-- When "joy_left" or "joy_right", turn gyro movements into respective left/right joystick (mouse-like) movements -->
        <!-- When "mouse", turn gyro movements into mouse movement. Press either stick-button to reset to middle of primary display  -->
        <!-- Default: none -->
        <add key="GyroToJoyOrMouse" value="false"/>
        <!-- Whether to use filtered IMU or raw gyro values (the latter is more responsive) -->
        <!-- Default: true -->
        <add key="UseFilteredIMU" value="true"/>
        <!-- Beta value of AHRS. Affects divergence of filter -->
        <!-- Default: 0.05 -->
        <add key="AHRS_beta" value="0.05"/>
        <!-- Sensitivity of gyro-to-mouse movements -->
        <!-- Default: 1200; 800 (if using raw values, decrease by a factor of ~15) -->
        <add key="GyroMouseSensitivityX" value="1200"/>
        <add key="GyroMouseSensitivityY" value="800"/>
        <!-- Sensitivity of gyro-to-joystick movements -->
        <!-- Default: 40.0; 10.0 (if using raw values, decrease by a factor of ~15: eg 2.6, 0.6) -->
        <add key="GyroStickSensitivityX" value="150.0"/>
        <add key="GyroStickSensitivityY" value="130.0"/>
        <!-- Stick range reduction when gyro-to-joystick is enabled and active; divides range by factor (so 1 is no change; 1.5 is halved range (with deadzone in mind)) -->
        <!-- Default: 1.5 -->
        <add key="GyroStickReduction" value="1"/>
        <!-- Gyro Hold/Toggle activation; true will require the mapped button to be continuously held down to keep gyro active -->
        <!-- Default: true [hold], false [toggle] -->
        <add key="GyroHoldToggle" value="true"/>
        <!-- When two joycons are connected, it would take the gyro movement of the right joycon for mouse movement. This swaps that -->
        <!-- Default: false -->
        <add key="GyroMouseLeftHanded" value="false"/>
        <!-- Changes drag behaviour. -->
        <!-- Will only apply to mouse buttons being mapped -->
        <!-- Default: false -->
        <add key="DragToggle" value="false"/>

        <!-- Determines whether or not the program will expose detected controllers as Xbox 360 controllers -->
        <!-- When "false", BetterJoy is only usable with programs that support UDPServer. -->
        <!-- Default: true -->
        <add key="ShowAsXInput" value="true" />
        <!-- Have ShowAsXInput as false if using this -->
        <!-- Default: false -->
        <add key="ShowAsDS4" value="false"/>

        <!-- Automatically power off controllers at program exit -->
        <!-- Default: false -->
        <add key="AutoPowerOff" value="false" />
        <!-- Automatically power off controllers after a period of inactivity (in minutes) -->
        <!-- Default: 30 (-1 indicates infinite time) -->
        <add key="PowerOffInactivity" value="-1" />
        <!-- Power off controllers when Capture (left only) or Home (right only or combined) buttons are pressed for a long interval (2s) -->
        <!-- Default: true -->
        <add key="HomeLongPowerOff" value="true" />

        <!-- Double click sticks on joycons (L3, R3) to change joycon orientation -->
        <!-- Default: true -->
        <add key="ChangeOrientationDoubleClick" value="false" />
        <!-- Do not rejoin joycons once split via clicking on their icon -->
        <!-- When 'true' allows you to double-click the joycons to split them and then change their orientation to vertical -->
        <!-- Default: false -->
        <add key="DoNotRejoinJoycons" value="false" />

        <!-- Determines what type of debugging information to be printed -->
        <!-- None = 0 -->
        <!-- All = 1 -->
        <!-- Comms = 2 -->
        <!-- Threading = 3 -->
        <!-- IMU = 4 -->
        <!-- Rumble = 5 -->
        <!-- Shake Input = 6 -->
        <!-- Default: 0 -->
        <add key="DebugType" value="0" />
    </appSettings>
</configuration>
